@import "color.css";

* {
  font-family: "JetBrains Mono";
  color: @foreground;
}

window {
  /* background-image: url("wave-color-nord.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @background;
}

#unlock-button {
  /* color: @crust; */
  background: none;
  background-color: @background;
  border: 2px solid @foreground;
}

#input-field {
  color: @foreground;
  background: none;
  background-color: @background;
  border: 2px solid @foreground;
}

/* #input-field:focus { */
/*     border-color: @foreground; */
/**/
/* } */
